* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */
header {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 15px ;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo img {
  text-align: left;
}
nav.nav-menu ul {
  list-style: none;
  display: flex !important;
  gap: 30px !important;  
  align-items: center;
}

nav.nav-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.header-actions .cart {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.features{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.features >div{
  text-align: center;
}

.features img{
  width: 45px;
  text-align: center;
}

.features span{
  font-size:15px;

}

/* Featured */
.featured {
  padding: 60px 0;
  text-align: center;
}
.featured h2 {
  margin-bottom: 40px;
  font-size: 32px;
}
.featured-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.featured-item {
  flex: 1;
  max-width: 300px;
}
.featured-item img {
  width: 100%;
  border-radius: 20px;
}

.container h4{
  text-align: left;
  margin: 0;
}

.featured-item1 img {
  width:125px;
  height: auto;
}

.featured-item1 h4{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.featured-item2 img {
  width:125px;
  height: auto;
}

.featured-item2 h4{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


/* About */
.about {
  padding: 60px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
.about-text {
  flex: 1;
}
.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.about-text p {
  font-size: 18px;
  margin-bottom: 20px;
}
.btn-secondary {
  background-color: #555;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
}
.about-image {
  flex: 1;
}
.about-image img {
  width: 100%;
  border-radius: 10px;
}

/* Products */
.products {
  padding: 60px 0;
}
.products h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}
.products-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.product-card {
  flex: 1 1 250px;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.product-card p {
  margin: 15px 0 10px;
  font-size: 20px;
}
.product-card h3 {
  font-size: 18px;
  margin-bottom:10px;
  text-align: left;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 video në një rresht */
    gap: 15px; /* hapësira mes tyre */
    max-width: 1200px;
    margin: 0 auto;
}

.video-wrap {
    width: 100%;
}

.video-wrap video {
    width: 100%;
    height: 380px;    /* video më e vogël që mos zgjatet shumë */
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.carousel img{
width: 1510px;
}

