* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  color: #333;
  line-height: 1.6;
}

header {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 15px ;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo img {
  text-align: left;
}
nav.nav-menu ul {
  list-style: none;
  display: flex ;
  gap:100px;  
  align-items: center;
  padding: 0;
  margin: 0;
}

nav.nav-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.carousel {
  width: 1510px;      
  max-width: 100%;     
  height: 600px;      
  margin:1px auto 40px auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.carousel img {
  width: 1510px;       
  max-width: 100%;     
  height: 600px;       
  object-fit: cover;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel img.active {
  opacity: 1;
  position: relative;
}



.metodat{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.metodat >div{
  text-align: center;
}

.metodat img{
  width: 45px;
  text-align: center;
}

.metodat span{
  font-size:15px;

}
.metodat a{
  text-decoration: none;
  color: black;
}

.kategoria {
  padding: 60px 0;
  text-align: center;
}
.kategoria h2 {
  margin-bottom: 40px;
  font-size: 32px;
}
.kategoria-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.kategoria-item {
  flex: 1;
  max-width: 300px;
}
.kategoria-item img {
  width: 100%;
  border-radius: 20px;
}

.container h4{
  text-align: left;
  margin: 0;
}
.featured-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.rrethore {
  padding: 40px 0;
  background-color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.rrethore .teksti{
  text-align:center;
  margin-top: 50px;
}

.rrethore-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.rrethore-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
  text-align: center;
}

.rrethore-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.rrethore-item h4 p{
  font-size: 1.1rem;
  font-weight: 500;
  color: #555;
  white-space: normal;
  margin: 0;
}

.products {
  padding: 60px 0;
}
.products h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}
.products-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.product-card {
  flex: 1 1 250px;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.product-card p {
  margin: 15px 0 10px;
  font-size: 20px;
}
.product-card h3 {
  font-size: 18px;
  margin-bottom:10px;
  text-align: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
    max-width: 1200px;
    margin: 0 auto;
}

.video-wrap {
    width: 100%;
}

.video-wrap video {
    width: 100%;
    height: 380px;   
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.carousel img{
width: 1510px;
}

#main-footer{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#dfe2d3;
}

.footer{
display: flex;
justify-content: space-between;
align-items:center ;
padding: 40px;
height: 300px;

}

.footer a{
text-decoration: none;
color: black;
}
#footer-inn{
  display: flex;
  justify-content: center;
  text-align: left;
}
#footer-inn a{
  text-decoration: none;
  color: black;
}

.footer-inner p{
  text-align: left;
}

@media (max-width: 768px) {
  .header-inner {
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 15px;
  }

  nav.nav-menu ul {
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  nav.nav-menu ul li a {
    font-size: 14px;
    line-height: normal;
  }

  nav.nav-menu {
    height: auto;
    display: flex;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  #footer-inn {
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
  }
}