* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}

.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 30px;

  display: flex;
  align-items: center;
}

.logo img {
  height:60px;
  object-fit: contain;
}

.nav-menu {
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav-menu a{
  text-decoration: none;
  color: black;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap:78px;
}

.header-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header-icons i {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

 nav.nav-menu ul li a:hover {
  color: #d97c5f;
} 

.product-page {
  width: 80%;
  margin: 60px auto;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.imazhi {
  flex: 1;
}

.imazhi img {
  width: 100%;
  max-width: 520px;
  display: block;
}

.info {
  flex: 1;
}

.info h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.cmimi {
  margin-bottom: 20px;
}

.cmimi .price {
  font-size: 28px;
  font-weight: bold;
}

#pershkrimi {
  font-size: 15px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 25px;
  max-width: 500px;
}

.butonat {
  display: flex;
  align-items: center;
  width: 180px;
  border: 1px solid #d97c5f;
  margin-bottom: 20px;
}

.butonat button {
  width: 50px;
  height: 45px;
  border: none;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
}

.butonat input {
  width: 80px;
  height: 45px;
  border: none;
  text-align: center;
  font-size: 16px;
}

.cart {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  background-color: #d97c5f;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.cart:hover {
  background-color: #c66c52;
}


#main-footer {
  background-color: #dfe2d3;
  padding: 30px 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-inner p {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

#footer-inn {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#footer-inn a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

#footer-inn a:hover {
  color: #d97c5f;
}
  @media (max-width: 768px) {
  nav.nav-menu ul {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer-inn {
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
  }
}


