 body {
            font-family: Arial, sans-serif;
            background:white;
            margin: 0;
            padding: 0;
        }
        header {
            background:white;
            padding: 20px;
            color: white;
            text-align: center;
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 30px auto;
        }
        h2 {
            color: #222;
            text-align: center;
            margin-bottom: 20px;
        }
        .products-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }
        .product-card {
            background: white;
            padding: 15px;
            text-align: center;
        }
        .product-card img {
            width: 60%;
            height: 180px;
            object-fit: cover;
            border-radius: 10px;
        }
        .product-card h3 {
            margin: 15px 0 10px;
            font-size: 18px;
        }
        .product-card p {
            color: #555;
        }
.btn {
 display: inline-block;
 margin-top: 10px;
padding: 10px 20px;
background: #66c7b0;
color: white;
text-decoration: none;
border-radius: 5px;
font-size: 14px;
 }
            .search-bar {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 25px;

        }
        .search-bar input {
            width: 250px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }
        .search-bar button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background: #e19dd3;
            color: white;
            font-size: 14px;
            cursor: pointer;
        }
        .search-bar button:hover {
            opacity: 0;
        }
    header {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 0 15px ;
    }
    .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    }
    .logo img {
    text-align: left;
    }
    nav.nav-menu ul {
    list-style: none;
    display: flex ;
    gap:100px;  
    align-items: center;
    padding: 0;
    margin: 0;
    }

    nav.nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    }