body {
  margin: 0;
  height: 100vh;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 360px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 18px;
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 20px;
}

.signup-box button {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 15px;
}

.signup-box input {
  border: 1px solid #ccc;
  padding: 0 12px;
  box-sizing: border-box;
}

.signup-box button {
  border: none;
  background: #7a2e1f;
  color: white;
  cursor: pointer;
}

.signup-box button:hover {
  opacity: 0.9;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav.nav-menu ul {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer-inn {
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
  }
}
